html {background: #fff
}
body {
    width: 100%;
    height: 100%}
body{justify-content:center;
    margin: 0;
text-align: center }
.img_1 { cursor: pointer }
#h_1 {
    cursor: pointer;}

img.img_2{cursor: pointer}

html{font-size: 14px;
    padding: 0 80px}
text {font-size: 1rem}
h1 {font-size: 2rem}
h2 {font-size: 1.5rem}
p{font-size: 1.25rem}
img {width: 50vw}